@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
    background-color: #D7D7D9;
}

.logo{
    display: flex;
}

#logo1, #logo2{
    margin: 5px;
    color: #D7D7D9;
}

/* Cabeçalho */

header{
    background-color: #18778c;    
}


nav#menu ul{
    background-color: #133340;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    
}

nav#menu li{
    display: inline-block;
    padding: 8px;
    margin: 5px;
}

nav#menu ul a li  {
    text-decoration: none;
    color: #D7D7D9;
    font-weight:bolder;
}


/* Conteúdo */

main{
    background-color: #18778C;
    width: 100%;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}