@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body{
    background-color: #D7D7D9;
}

/* Estilização da Logomarca */
.logo{display: flex; padding: 5px;}

#logo2{margin-left: 5px;}

/* Estilização do Menu*/

#menu {
    width: 100%;
    background-color: #133340;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style-type: none;
    margin: 15px;
}

#menu ul li{
    color: #D7D7D9 ;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
}

#menu ul li a {
    color: #D7D7D9 ;
}

nav#menu ul a li  {
    text-decoration: none;
    color: #D7D7D9;
    font-weight:bolder;
    border: 1px solid white;
}

nav#menu ul a li:hover{
    background-color: #18778C;
    color: #133340;
    transition: 0.5s;
}

#menu ul li:hover>ul {
    display: block;

}

